


<div class="about-us-container">
    <div class="header">
      <!-- <button class="back-button">&larr;</button> -->
      <h2>About Us</h2>
    </div>
  
    <div class="company-name">
      <h3>Compserv Consultants Pvt Ltd.</h3>
    </div>
  
    <!-- <div class="info-card">
      <h4>App Info</h4>
      <p><strong>App Version:</strong> B 13.7</p>
      <p><strong>Last Update:</strong> 03/01/2025</p>
      <p><strong>Release Date:</strong> 03/01/2025</p>
      <p><strong>Support Time:</strong> Weekdays 9:00am - 6:00pm</p>
    </div> -->
  
    <div class="info-card">
      <h4>Contact Info</h4>
      <p><strong>Mobile:</strong> 9231-266-379</p>
      <p><strong>Mail:</strong> support&#64;compserv.com</p>
      <p><strong>Website:</strong> <a href="https://www.compservtech.com">www.compservtech.com</a></p>
    </div>
  
    <div class="info-card">
      <h4>Address</h4>
      <p>CS No. 555/3/1, 24/28, Rajendra Nagar, Kolhapur, Maharashtra 416004</p>
    </div>
  </div>
  
